# Database
DATABASE_URL=

# NextAuth.js
NEXTAUTH_SECRET="" # Added by npx auth. Read more: https://cli.authjs.dev
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""